*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loading__bar{
    background-color: black;
    width: 100%;
}
.loading__bar__item{
    width: 5%;
    height: 4px;
    background: red;
}